.btn-success, .btn-info {
  padding: 0 10px;
  border-radius: 4px;
  color: #fff!important;
}

.small-jumbotron {
  padding: 2rem;
}

.table td {
    vertical-align: middle;
}

.tab-content {
  margin-top: 20px;
}

.avatar {
  width: 30px;
  border-radius: 15px;
  margin-right: 10px;
}

.modal-title img {
  width: 40px;
  margin-right: 10px;
}

/* #game_details_page */

#game_details_page #badges .card {
  text-align: center;
}

#game_details_page #badges .card-block {
  text-align: left;
}

#game_details_page #badges .card-img-top {
  width: 200px;
  padding: 20px 0;
}

#game_details_page #leaderboard td img {
  margin-right: 15px;
}

#games_page .card {
  height: 400px;
}

.btn-header {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 10px;
}

.btn-header a {
  padding: 10px;
}
